.cell {
    position: relative;

    img {
        width: 50%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.cell.black {
    background: #666;
}

.cell.white {
    background: #CCC;
}

.cell.selected {
    background: #66F;
}

.cell.submitted {
    background: #F55;
}
